@namespace DayLog.Components.Layout
@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager Navigation

<!-- Sidebar navigation with search -->
<div class="navmenu-container">
    <ul class="sidebar-nav">
        <li class="nav-item">
            <NavLink class="nav-link" href="/dashboard" Match="NavLinkMatch.All">Dashboard</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/calendar">Calendar</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/timeline">Timeline</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/Edit-entry">New Entry</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/settings">Settings</NavLink>
        </li>
    </ul>
</div>

@code {

}